.NavigationMenuViewport {
  height: calc(100vh - 3em - (var(--space-2) * 2));
  background-color: var(--color-background);

  box-shadow: 0 0 10px 5px var(--gray-5);
  clip-path: inset(0px -15px 0px 0px);

  z-index: 1;
  transform: translateX(-100%);
  width: fit-content;
  position: absolute;
}

.NavigationMenuViewport[data-state="open"] {
  animation: slideIn 0.3s ease-out;
  animation-fill-mode: forwards;
}

.NavigationMenuList {
  height: 3em;
  background-color: var(--blue-9);
  list-style: none;
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: flex-start;
  padding: var(--space-2);
  box-sizing: content-box;
}

.NavigationMenuContent {
  display: flex;
  flex-direction: column;
  gap: 3em;
  padding: 2em;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.NavigationMenuItem {
  img {
    max-width: min(12em, 40vw);
    height: 3em;
    width: auto;
  }
}

.link {
  color: black !important;
  font-size: 1.25em !important;
}

.Separator {
  width: initial !important;
}

.signOutButton {
  justify-content: start !important;
}
