.markdownViewer {
  list-style-position: inside;
  table {
    width: 100%;
    border-collapse: collapse;
    margin: 1em 0;
  }
  ul,
  ol {
    text-indent: -1.2em;
    padding-left: 1em;
  }
  table,
  th,
  td {
    border: 1px solid;
    border-color: var(--gray-6);
    padding: 0.25em;
  }
  th {
    text-align: left;
  }
  code {
    background-color: var(--gray-4);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: revert;
  }
}
