@import "@/styling/breakpoints.scss";

.tableHeader {
  &:hover {
    cursor: pointer;
    background-color: var(--gray-3);
  }
}

.tablePagination {
  display: flex;
  justify-content: center;
  align-items: center;
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 0.5em;
    li {
      &:hover {
        cursor: pointer;
        color: var(--blue-1);
      }
    }
  }
}

.activePage {
  background-color: var(--blue-9);
  color: var(--gray-1);
}

.inlineFlexCenter {
  display: inline-flex;
  align-items: center;
}

.searchBarContainer {
  flex: 1 0 0;
  padding: 0 5em;
  .searchBar {
    flex: 1 0 0;
  }

  @include phablet {
    flex-direction: column;
    padding: 0;
    .searchBar {
      min-height: 3em;
    }
  }
}
