.headerCard {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
}

.banner {
  display: block;
  object-fit: cover;
  width: calc(100% - 2 * var(--card-padding));
  height: 8em;
  background-color: var(--gray-5);
  margin: var(--card-padding) var(--card-padding) 0 var(--card-padding);
}

.aboutCard {
  display: flex;
  flex-direction: column;
  gap: var(--space-5);
  padding: var(--space-5);
}
